// import the blueprint stylesheet
@import "~@blueprintjs/core/dist/blueprint.css";

// import fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

@import "variables";

body {
  background: $light-grey;

  .pt-button:not([class*="pt-intent-"]) {
    background-color: $border-grey;
  }

  .pt-button,
  .pt-button:not([class*="pt-intent-"]),
  .pt-button.pt-intent-primary,
  .pt-button.pt-intent-success,
  .pt-button.pt-intent-warning,
  .pt-button.pt-intent-danger {
    box-shadow: none;
    background-image: none;
    border-radius: 20px;
    padding: 2px 25px;
  }
}

* {
  font-family: "Open Sans", sans-serif;
}

*:focus {
  outline: none;
}
